{% block resume %}
  <!-- ======= Резюме ======= -->
  <section id="resume" class="about">

    <!-- ======= Об авторе ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>Резюме</h2>
        <p>Опыт и навыки</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ tag1 }} </h3>
          <p class="fst-italic">
            Занимаюсь бекэнд-разработкой на Django. Кроме Python, программирую на C++. Изучал области:
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Мобильная разработка</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Анализ данных</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Разработка десктопных приложений</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Парсинг сайтов</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Основы машинного обучения</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Веб-разработка</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Тестирование</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Автоматизация процессов</strong></li>
              </ul>
            </div>
          </div>
          <p>
            Есть опыт преподавания - вел курсы Python Start, Python Pro, графический дизайн и визуальное программирование
          </p>
        </div>
      </div>
</div><!-- конец секции -->

{% endblock %}    